= form_with(model: job, local: true) do |form|
  - if job.errors.any?
    #error_explanation
      h2
        = pluralize(job.errors.count, "error")
        |  prohibited this job from being saved:
      ul
        - job.errors.full_messages.each do |message|
          li
            = message
  .field
    = form.label :title
    = form.text_field :title
  .field
    = form.label :category
    = form.text_field :category
  .field
    = form.label :company_name
    = form.text_field :company_name
  .field
    = form.label :pay_min
    = form.number_field :pay_min
  .field
    = form.label :pay_max
    = form.number_field :pay_max
  .actions
    = form.submit
